html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

/* HEADER  */
.header {
  background-color: #1d232b;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 10;
}

.header__logo {
  width: 40%;
}

.header__logo a {
  font-size: 5rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header__logo a span {
  color: #03cacb;
}

.header__nav {
  font-size: 2rem;
  width: 60%;
}

.header__nav ul li {
  list-style-type: none;
}

.header__nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.header__nav ul li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
}

.header__nav ul li:hover a {
  color: #03cacb;
}

.header__nav ul li:hover::after {
  background-color: #03cacb;
}

/* BANNER  */
.carousel {
  color: white;
  background: url("../img/b1.jpg") 100% 100% no-repeat;
  background-size: cover;
  height: 600px;
}

.carousel__container h1 {
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase;
}

.carousel__container p {
  color: #f3eaece1;
  font-size: 1.8rem;
}

/* ABOUT  */
.about__item {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.about__item i {
  width: 7rem;
  height: 7rem;
  font-size: 2rem;
  border: 1px solid #a39d9e;
  border-radius: 50%;
  line-height: 7rem;
}

.about__item p {
  color: #a39d9e;
  font-size: 1.6rem;
}

.about__us {
  text-align: center;
}

.about__us h2 {
  color: #03cacb;
  font-size: 2.5rem;
}

.about__us p {
  font-size: 1.6rem;
}

/* STATS  */
.stats {
  background-color: #03cacb;
}

.stats__item {
  text-align: center;
}

.stats__item h1 {
  color: white;
}

.stats__item h2 {
  color: black;
}

/* BLOG  */
.blog__item {
  width: 30%;
  background-color: #efefef;
}

.blog__item hr {
  margin: 0;
  border: 3px solid #03cacb;
  background-color: #03cacb;
}

.blog__item img {
  width: 100%;
}

.blog__item h2 {
  color: #03cacb;
  font-size: 1.8rem;
}

.blog__item p {
  font-size: 1.6rem;
}

.blog__item button {
  color: #03cacb;
  background-color: black;
  border: none;
  font-size: 1.6rem;
}

/* GET MORE  */
.get-more__left {
  width: 45%;
}

.get-more__left img {
  width: 100%;
}

.get-more__right {
  width: 55%;
  background-color: #03cacb;
  text-align: center;
}

.get-more__right p {
  font-size: 1.6rem;
  color: white;
}

.get-more__right button {
  color: #03cacb;
  background-color: black;
  border: none;
  font-size: 1.6rem;
}

/* PORTFOLIO  */
.portfolio__item {
  margin: auto;
}

/* SUBSCRIBE  */
.subscribe {
  background-color: #03cacb;
  text-align: center;
}

.subscribe p {
  color: white;
  font-size: 1.6rem;
}

.subscribe input {
  width: 70%;
  height: 3rem;
  display: block;
  margin: auto;
}

.subscribe button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.6rem;
}

/* OUR AGENTS  */
.agents__item img {
  width: 100%;
}

.agents__info {
  background-color: #1d232b;
  text-align: center;
}

.agents__info h2 {
  font-size: 2.5rem;
  color: #03cacb;
}

.agents__info p {
  font-size: 1.6rem;
  color: white;
}

.agents__info a > i {
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 16px;
  color: white;
}

.agents__info a > i:hover {
  color: #03cacb;
}
/*# sourceMappingURL=style.css.map */